<body>
<div class="container">

    <div class="card-panel blue-grey lighten-4">
        <span class="grey-text text-darken-3 center"><h5>Welcome, <%=current_user.name%>!</h5></span>
    </div>

    <div class="row">

    <%current_user.trails.each do |trail|%>

        <div class="col s3">
          <div class="card small teal lighten-2 z-depth-5">
            <div class="card-image">
              <img src="/images/<%=trail.image%>" class="responsive-img">
              <span class="card-title"><%=trail.name%></span>  
            </div>
            <div class="card-content white-text">
                <p><%=trail.description%></p>
            </div>
            <div class="card-action">
              <a href="/trails/<%=trail.id%>/edit"><i class="material-icons icon-white darken-4">edit</i></a>
              <a href="/trails/<%=trail.id%>"><i class="material-icons icon-white darken-4">launch</i></a>
              <a href="/trails/<%=trail.id%>/delete"><i class="material-icons icon-white darken-4">delete</i></a>
            </div>
          </div>
        </div>
    <%end%>
    </div>
    
    <form method="post" action="/signout">
      <button class="waves-effect waves-light btn" type="submit" name="action">
        Sign Out
      </button>
    </form>
</div>



</body>